<!DOCTYPE html>
<html lang="en">

<head>
  <title>ERROR 404 - Page Not Found!!!</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width" initial-scale="1.0">
  <link rel="stylesheet" type="text/css" href="./styles/index.css">
</head>

<body>
  <div class="error-container">
    <div class="error-code">404</div>
    <div class="error-message">Sorry! We can not find this page.</div>
    <div class="error-link"><a href="/">Return to HomePage</a></div>
  </div>
</body>

</html>