<!DOCTYPE html>
<html>

<head>
  <title>Hi <%= user.username %>, Welcome to your Blog Homepage</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width" initial-scale="1.0">
  <link rel="stylesheet" type="text/css" href="index.css">
</head>

<body>
  <h1 align="center">Hi, <%= user.username %></h1>
  <p align="center">Welcome to your Blog Homepage page</p><br>

  <p align="center">Explore and have fun</p>
  <ul align="center">
    <li><a href="/posts/create/">Create an article</a></li>
    <li><a href="/posts/">View all articles</a></li>
    <li><a href="/posts/owner/author">View all your posted articles</a></li>
    <li><a href="/posts/owner/author?state=draft">View your drafts</a></li>
    <li><a href="/posts/owner/author?state=published">View all published articles</a></li>
    <li><a href="/users/logout">Logout</a></li>
  </ul>
</body>

</html>